* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #fafafa;
    height: 5em;
    width: 98.7vw;
}

.header__nav {
    height: 5em;
    width: 98.7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img {
    height: 3.125em;
    margin-left: 0.7em;
}

.header__nav ul {
    display: flex
}

.header__nav ul li {
    list-style: none;
    margin: 0px 10px;
}

.header__a {
    text-decoration: none;
    color: #121212;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
}

.header__a:hover {
    color: #6a14d1;
}

.header__a {
    text-decoration: none;
    color: #121212;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 200;
    letter-spacing: 3px;
}

.header__nav a:hover {
    color: #6a14d1;
}

.header__loguinLink {
    text-decoration: none;
    color: #121212;
    text-transform: uppercase;
    margin-right: 10px;
    font-weight: 200;
    letter-spacing: 3px;
    border: #121212 1px solid;
    padding: 5px;
}


.header__darkmode {
    margin-right: 10px;
    font-size: 1em;
    color: #121212;
}


.section__info {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../resources/tshirt-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 90vh;
    width: 98.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__info h1 {
    color: #fafafa;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

.section__two {
    display: flex;
}

.section__catalogue {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../resources/catalogo-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 49.35vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__catalogue:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../resources/catalogo-img.jpg");
}

.section__catalogue h2 {
    color: #fafafa;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

.section__catalogue a {
    text-decoration: none;
}


.section__works {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../resources/muestras-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 49.35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__works:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url("../resources/muestras-img.jpg");
}

.section__works h2 {
    color: #fafafa;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}

.section__works a {
    text-decoration: none;
}

.section__contact {
    background-image: url("../resources/darkness.webp");
    background-repeat: repeat;
    height: 8em;
    width: 98.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__contact h2 {
    color: #fafafa;
    font-size: 2em;
    text-transform: uppercase;
}

.section__contact button {
    background-color: #7109b700;
    color: #e7e7e7;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    border: 1px #e7e7e7 solid;
    letter-spacing: 2px;
}

.section__contact button:hover {
    background-color: #7109b75e;
    color: #e7e7e7;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    border: 1px #e7e7e7 solid;
}

.footer {
    height: 200px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 0.7em;
}

.footer__container p {
    font-weight: 200;
    text-transform: uppercase;

}

.footer__imgLogo {
    max-height: 30px;
}

.footer__info {
    list-style: none;
}

.footer__info li a {
    color: #161214;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

.footer__info li a:hover {
    color: #6a14d1;
}

.footer__menu li a {
    color: #161214;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

.footer__menu li a:hover {
    color: #6a14d1;
}

.footer__socials li a {
    color: #161214;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

.footer__socials li a:hover {
    color: #6a14d1;
}

.footer__name a {
    color: #6a14d1;
    text-decoration: none;
    text-transform: capitalize;
}

.li__info {
    color: #161214;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.li__menu {
    color: #161214;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.li__socials {
    color: #161214;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

.footer__menu {
    list-style: none;
}

.footer__socials {
    list-style: none;
}

.footer__copy {
    text-align: center;
}

.section__aboutus {
    margin: 50px 0px;
}

.section__aboutus h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.section__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__aboutus p {
    text-align: center;
    width: 50%;
}

.section__article img {
    height: 20em;
}

.section__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section__formContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__formContact h1 {
    text-transform: uppercase;
    margin: 20px 0px;
}

.section__form {
    width: 350px;
}

.section__form input,
textarea {
    margin: 10px 0px;
    width: 100%;
    border: #6a14d1 1px solid;
    padding: 10px;
    font-size: 1em;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;

}

.section__form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}


#btn {
    background-image: linear-gradient(45deg, rgba(255, 0, 200, 0.6), rgba(140, 0, 255, 0.6));
    background-color: #6a14d1;
    color: #fafafa;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
}

#btn:hover {
    cursor: pointer;
    font-weight: 400;
}